/hw4/HW4.X/build/
/hw4/HW4.X/dist/
/hw5/HW5.X/build/
/hw5/HW5.X/dist/
/hw5/HW6.X/dist/
/hw5/HW6.X/build/
/hw7/HW7.X/build/
/hw7/HW7.X/dist/
/hw8/HW8/firmware/HW8.X/build/
/hw8/HW8/firmware/HW8.X/dist/
/hw9/HW9.X/build/
/hw9/HW9.X/dist/
/hw10/HW10/firmware/HW10.X/dist/
/hw10/HW10/firmware/HW10.X/build/
/hw11/HW11/firmware/HW11.X/build/
/hw11/HW11/firmware/HW11.X/dist/
/hw12/HW12/firmware/HW12.X/build/
/hw12/HW12/firmware/HW12.X/dist/